<!DOCTYPE html>
<html>
    <head>
        <title>NodeJS Sample</title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
    <h1 class="title">Welcome</h1>
    <p class="brand" ><img src="/../img/nodejs_mysql.jpeg" alt="" /></p>
    <p class="message">Welcome to sample node js application with mysql. Click <a href="/api/user">here</a> to perform sample CRUD actions. </p>
</body>
</html>
